* {
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
  height: 100vh;
  background-color: #99dfff;
  background-image: radial-gradient(
      at 18% 95%,
      hsla(170, 91%, 79%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 31% 37%, hsla(143, 91%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 98% 3%, hsla(80, 91%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 83% 59%, hsla(325, 91%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 74% 18%, hsla(216, 91%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 55% 88%, hsla(206, 91%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 47% 19%, hsla(324, 91%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 13% 74%, hsla(232, 91%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 8%, hsla(3, 91%, 79%, 1) 0px, transparent 50%);
}
h1 {
  background-color: rgb(190, 252, 31);
  height: 3.5rem;
  line-height: 3.5rem;
}
.choices {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}
.choice {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 155px;
  width: 155px;
  border-radius: 50%;
}
.choice:hover {
  background-color: rgb(102, 226, 226);
  cursor: pointer;
  opacity: 0.7;
}
img {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  object-fit: inherit;
}
.score-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-top: 3rem;
}
.score {
  gap: 2rem;
  font-size: 4rem;
}
.sc {
  font-size: 2rem;
  color: rgb(70, 186, 180);
  font-weight: 600;
}
.msg-container {
  margin-top: 5rem;
}
#msg {
  background-color: #293069;
  color: white;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
